<!doctype html>
<html lang="pl">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>Dodaj do Kalendarza</title>
      <link rel="stylesheet" href="/static/output.css" />
      <!-- Twój skompilowany CSS -->
   </head>
   <body>
      <p style="font-size: 42px; text-align: center; margin: 16px 0">
         Lekarski semestr 7
      </p>
      <p style="font-size: 26px; text-align: center; margin: 16px 0">
         Kliknij swoją sekcję, aby dodać subskrypcję kalendarza na swój smartfon.
      </p>
      <div class="wrapper">
         {% for section in sections %}
         <a
            class="calendar"
            href="webcal://{{ host }}/api/plan_zajec_lekarski_as.ics?section={{ section }}"
            aria-label="Sekcja {{ section }}"
         >
            <div class="week">Sekcja</div>
            <div class="date">{{ section }}</div>
         </a>
         {% endfor %}
      </div>
   </body>
</html>
