<p>Cześć, nastąpiła zmiana w planie zajęć.</p>
<p>Powodzenia!</p>
<br>
Plik w załączniku.
<br><br>
Jeśli chcesz dodać plan zajęć na swój telefon to wejdź na:
<a href="https://as.wronamichal.online/">https://as.wronamichal.online</a>

<br><br>
<p style="font-size: 11px; color: #888; margin-top: 16px; line-height: 1.5;">
  Plan zajęć na telefonie jest generowany automatycznie i może zawierać błędy wynikające z przetwarzania danych.
  Nie ponoszę odpowiedzialności za nieprawidłowości w wyświetlanym planie ani za niedostarczenie wiadomości e-mail z nowym planem zajęć.
  W przypadku awarii serwisu plan na telefonie może być czasowo niedostępny.
  Wiążący plan zajęć znajduje się wyłącznie w załączniku do tej wiadomości, a aktualny plan zajęć jest dostępny w systemie nDziekanat.
</p>